/* app css stylesheet */

body {
    background-image: url("../img/information.jpg");
}
.zipcode-error{
    margin-left:25px;
}
.customer-page-title {
    font-size:54px !important;
    text-align:center;
}
.footer-section-title{
    text-align:center;
    background-color: white !important;
    font-size:22px;
}
.header-section-title{
    text-align:center;
    font-size:22px;
    background-color: #c2c8c8 !important;
    padding-top:10px !important;
    padding-bottom:10px !important;
}

h2 {
    font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
h1 {
    font: 400 100px/1.3 'Oleo Script', Helvetica, sans-serif;
    color: #2b2b2b;
    text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}
.float-none {
    float: none !important;
}



.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.no-padding{
    padding:0px !important;
}
.no-padding-right-left{
    padding-left:0px !important;
    padding-right:0px !important;
}
.geographical-input-container-label{
    margin-left:25px;
    font-size:22px;
    font-weight:bold;
}
.geographical-input-container{
    margin-left:25px;
}