<div class="row">
    <div class="col-md-12" style="margin-left:25px;">
        <a href="../..//cis451/cis451_homework4/img/cis451_assignment4.png"><img src="../../cis451/cis451_homework4/img/questionmark.png"/></a>
        <br />
        <span style="font-weight:bold;">
            Click Question Mark for
            <br />
            Diagram of Architecture
        </span>
    </div>
</div>

<div class="row">
    <div class="col-md-12 customer-page-title">
       <h1>Databases Homework 4</h1>
    </div>
    <div class="col-md-12 geographical-input-container-label">
        Customers
    </div>
    <div class="col-md-12 zipcode-error">
        <br />
        <select ng-model="customerId" name="customers" id="customers" class="form-control" ng-options="value.customerNumber as value.lastNameFirstName for value in customers" required>
            <option value="">Choose Customer</option>
        </select>
    </div>



</div>
<div class="row">

    <div class="col-md-6 center-block float-none" style="margin-top:50px;" ng-if="customersOrders != null && customersOrders != undefined">
        <span style="font-weight:bold; font-size: 28px; ">{{customersOrders.customer.firstName}} , {{customersOrders.customer.lastName}}</span>
        <div ng-if="customersOrders.customersOrders.length > 0">
            <table style="background-color:whitesmoke; background:rgba(255,255,255,0.5);">
                <tr>
                    <th style="padding-right:25px">Order Number</th>
                    <th style="padding-right:25px">Date of Order</th>
                    <th style="padding-right:25px">Number of Items</th>
                    <th style="padding-right:25px">Total Amount Spent</th>
                </tr>
                <tr ng-repeat = "customerOrder in customersOrders.customersOrders">
                    <td style="padding-right:25px">{{ customerOrder.order.orderNumber }}</td>
                    <td style="padding-right:25px">{{ customerOrder.order.orderDate }}</td>
                    <td style="padding-right:25px">{{ customerOrder.order.numberOfItems }}</td>
                    <td style="padding-right:25px">${{ customerOrder.order.totalPrice }}</td>
                </tr>
            </table>
        </div>
        <div ng-if="customersOrders.customersOrders.length == 0">
            <span style="font-weight:bold; font-size: 18px; ">No Orders</span>
        </div>

    </div>
</div>
